site_name: GPAC wiki
site_url: https://wiki.gpac.io/
site_author: GPAC contributors
extra:
  keywords_file: 'data/keywords.json'
extra_javascript:
   
   - javascripts/main.js
   - javascripts/levels.js
   - javascripts/fetchFunctions.js
   - javascripts/domManipulation.js
   - javascripts/keywordsFinder.js
   - javascripts/keywordsDisplay.js
   - javascripts/cache.js
   - javascripts/modalFunctions.js
   
   
    
extra_css:
  - stylesheets/extra.css
  - stylesheets/keyword-cloud.css
  - stylesheets/top.css
  - stylesheets/toggle.css
  - stylesheets/modal.css
  - stylesheets/glossary-pages.css
  - stylesheets/collapse_section.css
  - stylesheets/feedback.css
  - stylesheets/levels.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css
theme:
  name: material
  custom_dir: overrides
  logo: images/gpac-logo.svg
  favicon: images/favicon-32x32.png
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: gpac
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.top
    - tables
    - def_list
    - content.code.select
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    - navigation.path
    - navigation.tabs
    - navigation.tracking
    - navigation.indexes
    - toc.follow
    - search.highlight
    - search.share
    - search.suggest
    - search
repo_url: https://github.com/gpac/gpac/
plugins:
  - search
  - tags
hooks:
  - scripts/mkdocs_hooks.py
markdown_extensions:
- admonition
- attr_list
- toc:
      permalink: true
- nl2br
- sane_lists      
- md_in_html
- pymdownx.details
- pymdownx.superfences
- pymdownx.inlinehilite  

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback!
nav:
  - Howtos:
    - Howtos/howtos.md
    - Filters One-Liners: Howtos/filters-oneliners.md
    - File Inspection: Howtos/inspecting.md
    - Using RAW formats: Howtos/raw-formats.md
    - Encoding: Howtos/encoding.md
    - Using data pipes: Howtos/pipes.md
    - Using sockets: Howtos/sockets.md
    - MP4Box vs gpac: Howtos/gpac-mp4box.md
    - MP4Box and filters: Howtos/mp4box-filters.md
    - Custom ISOBMFF files: Howtos/custom-boxes.md
    - Logging in GPAC: Howtos/The-GPAC-Log-System.md
    - Audio-Video Mixer: Howtos/avmix_tuto.md
    - Dynamic Rate Control: Howtos/dynamic_rc.md
    - In-place Editing: Howtos/mp4box-inplace.md
    - Working with Network Captures: Howtos/network-capture.md
    - GPAC and NodeJS: Howtos/nodejs.md
    - Playlists/Splicing/Ad Insertion: Howtos/playlist.md
    - GPAC and Python: Howtos/python.md
    - Simulating Real-Time sources: Howtos/realtime.md
    - ROUTE & ATSC3.0 services: Howtos/route.md
    - SCTE-35, id3 markers, dynamic metadata: Howtos/scte35-markers.md
    - DASH & HLS:
      - Introduction: Howtos/dash/DASH-intro.md
      - MPEG-DASH basics: Howtos/dash/DASH-basics.md
      - DASH and HLS Transcoding: Howtos/dash/dash_transcoding.md
      - HLS Generation: Howtos/dash/hls.md
      - CMAF Generation: Howtos/dash/cmaf.md
      - DASH Low Latency: Howtos/dash/LL-DASH.md
      - HLS Low Latency: Howtos/dash/LL-HLS.md
      - Custom DASH Algorithms: Howtos/jsf/jsdash.md
      - Complex DASH/HLS use cases: Howtos/dash/HAS-advanced.md
      - DASH 360 tiling:
        - HEVC Tile Adaptation Guide: Howtos/dash/HEVC-Tile-based-adaptation-guide.md
        - DASH SRD and HEVC tiling: Howtos/dash/MPEG-DASH-SRD-and-HEVC-tiling-for-VR-videos.md
        - 360 Video tiled streaming: Howtos/dash/Tiled-Streaming.md
        - HEVC Tile Multi-Resolution Adaptation Guide: Howtos/dash/HEVC-Tile-multi-resolution-adaptation-guide.md
      - DASH Sequences: Howtos/dash/DASH-Sequences.md
      - Key-frame alignment: Howtos/dash/Check-key-frame-alignment-with-MP4Box.md
      - Fragmentation: Howtos/dash/Fragmentation,-segmentation,-splitting-and-interleaving.md
      - Fragmented MP4 in HLS: Howtos/dash/Support-for-Apple-fMP4-adaptive-streaming-format.md
      - MP4Box DASH options: Howtos/dash/DASH-Support-in-MP4Box.md
    - Encryption:
      - Introduction: Howtos/encryption/Encryption-Introduction.md
      - Encryption and filters: Howtos/encryption/encryption-filters.md
      - Clearkey: Howtos/encryption/encryption-clearkey.md
    - Javascript Filters:
      - Overview: Howtos/jsf/jsfilter.md
      - JavaScript Session: Howtos/jsf/jssession.md
      - JS 2D Graphics: Howtos/jsf/evg.md
      - JS 3D Graphics: Howtos/jsf/webgl.md
      - WebGL and Three.js: Howtos/jsf/webgl_three.md
      - JS Custom HAS logic: Howtos/jsf/jsdash.md
      - JS Custom HTTP server: Howtos/jsf/jshttp.md
    - Scene Description:
      - Intro: Howtos/scenecoding/SceneCodingIntro.md
      - BIFS Textual Format: Howtos/scenecoding/MPEG-4-BIFS-Textual-Format.md
      - XMT Format: Howtos/scenecoding/MPEG-4-XMT-Format.md
      - Scene Commands: Howtos/scenecoding/MPEG-4-Scene-Commands.md
      - BT and XMT tips: Howtos/scenecoding/MP4Box-tips-and-tricks-with-BT-and-XMT.md
    - Subtitles:
      - Introduction: Howtos/subtitles/Subtitling-with-GPAC.md
      - EBU-TTD: Howtos/subtitles/EBU-TTD-support-in-GPAC.md
    - HEIF:
      - Introduction: Howtos/heif/GPAC-support-for-HEIF.md
      - Image extraction: Howtos/heif/heif-extraction.md
      - HEIF creation: Howtos/heif/heif-import.md
    - Archives:
      - Archives: Howtos/archives/Archives.md
      - Language tagging: Howtos/archives/Language-tagging-in-GPAC.md
      - HEVC: Howtos/archives/MPEG-HEVC-Support-in-GPAC.md
      - SVC: Howtos/archives/SVC-Support-in-MP4Box.md
      - Dump TS streams: Howtos/archives/Use-MP4Box-to-dump-and-analyze-broadcast-TS-streams.md
  - MP4Box:
    - Overview: MP4Box/MP4Box.md
    - General Usage: MP4Box/mp4box-gen-opts.md
    - Media Import: MP4Box/mp4box-import-opts.md
    - Media Export and Dump: MP4Box/mp4box-dump-opts.md
    - DASH Packaging: MP4Box/mp4box-dash-opts.md
    - Meta and IFF/HEIF: MP4Box/mp4box-meta-opts.md
    - Scene Description: MP4Box/mp4box-scene-opts.md
    - Other Features: MP4Box/mp4box-other-opts.md
  - GPAC:
    - Overview: Filters/Filters.md
    - General Filters Concepts: Filters/filters_general.md
    - GPAC Usage: Filters/gpac_general.md
    - Built-in Filters properties: Filters/filters_properties.md
    - GPAC configuration file: Filters/core_config.md
    - Global options: Filters/core_options.md
    - Logging: Filters/core_logs.md
    - All filters:
      - a52dec: Filters/a52dec.md
      - aout: Filters/aout.md
      - avgen: Filters/avgen.md
      - avidmx: Filters/avidmx.md
      - avimx: Filters/avimx.md
      - avmix: Filters/avmix.md
      - bifsdec: Filters/bifsdec.md
      - bsagg: Filters/bsagg.md
      - bsrw: Filters/bsrw.md
      - bssplit: Filters/bssplit.md
      - btplay: Filters/btplay.md
      - ccdec: Filters/ccdec.md
      - cdcrypt: Filters/cdcrypt.md
      - cecrypt: Filters/cecrypt.md
      - compositor: Filters/compositor.md
      - cryptin: Filters/cryptin.md
      - cryptout: Filters/cryptout.md
      - dasher: Filters/dasher.md
      - dashin: Filters/dashin.md
      - dtout: Filters/dtout.md
      - dvbin: Filters/dvbin.md
      - evgs: Filters/evgs.md
      - faad: Filters/faad.md
      - ffavf: Filters/ffavf.md
      - ffavin: Filters/ffavin.md
      - ffbsf: Filters/ffbsf.md
      - ffdec: Filters/ffdec.md
      - ffdmx: Filters/ffdmx.md
      - ffenc: Filters/ffenc.md
      - ffmx: Filters/ffmx.md
      - ffsws: Filters/ffsws.md
      - fin: Filters/fin.md
      - flist: Filters/flist.md
      - fout: Filters/fout.md
      - ghidmx: Filters/ghidmx.md
      - glpush: Filters/glpush.md
      - gsfdmx: Filters/gsfdmx.md
      - gsfmx: Filters/gsfmx.md
      - hevcmerge: Filters/hevcmerge.md
      - hevcsplit: Filters/hevcsplit.md
      - httpin: Filters/httpin.md
      - httpout: Filters/httpout.md
      - imgdec: Filters/imgdec.md
      - inspect: Filters/inspect.md
      - j2kdec: Filters/j2kdec.md
      - jpgenc: Filters/jpgenc.md
      - jsf: Filters/jsf.md
      - lsrdec: Filters/lsrdec.md
      - m2psdmx: Filters/m2psdmx.md
      - m2tsdmx: Filters/m2tsdmx.md
      - m2tsmx: Filters/m2tsmx.md
      - maddec: Filters/maddec.md
      - mcdec: Filters/mcdec.md
      - mp4dmx: Filters/mp4dmx.md
      - mp4mx: Filters/mp4mx.md
      - mpeghdec: Filters/mpeghdec.md
      - nhmlr: Filters/nhmlr.md
      - nhmlw: Filters/nhmlw.md
      - nhntr: Filters/nhntr.md
      - nhntw: Filters/nhntw.md
      - nvdec: Filters/nvdec.md
      - odfdec: Filters/odfdec.md
      - oggdmx: Filters/oggdmx.md
      - oggmx: Filters/oggmx.md
      - ohevcdec: Filters/ohevcdec.md
      - osvcdec: Filters/osvcdec.md
      - pin: Filters/pin.md
      - pngenc: Filters/pngenc.md
      - pout: Filters/pout.md
      - probe: Filters/probe.md
      - reframer: Filters/reframer.md
      - resample: Filters/resample.md
      - restamp: Filters/restamp.md
      - rewind: Filters/rewind.md
      - rfac3: Filters/rfac3.md
      - rfadts: Filters/rfadts.md
      - rfamr: Filters/rfamr.md
      - rfav1: Filters/rfav1.md
      - rfflac: Filters/rfflac.md
      - rfh263: Filters/rfh263.md
      - rfimg: Filters/rfimg.md
      - rflatm: Filters/rflatm.md
      - rfmhas: Filters/rfmhas.md
      - rfmp3: Filters/rfmp3.md
      - rfmpgvid: Filters/rfmpgvid.md
      - rfnalu: Filters/rfnalu.md
      - rfpcm: Filters/rfpcm.md
      - rfprores: Filters/rfprores.md
      - rfqcp: Filters/rfqcp.md
      - rfrawvid: Filters/rfrawvid.md
      - rfsrt: Filters/rfsrt.md
      - rftruehd: Filters/rftruehd.md
      - routein: Filters/routein.md
      - routeout: Filters/routeout.md
      - rtpin: Filters/rtpin.md
      - rtpout: Filters/rtpout.md
      - rtspout: Filters/rtspout.md
      - safdmx: Filters/safdmx.md
      - scte35dec: Filters/scte35dec.md
      - sockin: Filters/sockin.md
      - sockout: Filters/sockout.md
      - svgplay: Filters/svgplay.md
      - theoradec: Filters/theoradec.md
      - thumbs: Filters/thumbs.md
      - tileagg: Filters/tileagg.md
      - tilesplit: Filters/tilesplit.md
      - tssplit: Filters/tssplit.md
      - ttml2srt: Filters/ttml2srt.md
      - ttml2vtt: Filters/ttml2vtt.md
      - ttmldec: Filters/ttmldec.md
      - ttmlmerge: Filters/ttmlmerge.md
      - ttxtdec: Filters/ttxtdec.md
      - tx3g2srt: Filters/tx3g2srt.md
      - tx3g2ttml: Filters/tx3g2ttml.md
      - tx3g2vtt: Filters/tx3g2vtt.md
      - txtin: Filters/txtin.md
      - ufadts: Filters/ufadts.md
      - uflatm: Filters/uflatm.md
      - ufm4v: Filters/ufm4v.md
      - ufmhas: Filters/ufmhas.md
      - ufnalu: Filters/ufnalu.md
      - ufobu: Filters/ufobu.md
      - ufttxt: Filters/ufttxt.md
      - ufvc1: Filters/ufvc1.md
      - ufvtt: Filters/ufvtt.md
      - uncvdec: Filters/uncvdec.md
      - uncvg: Filters/uncvg.md
      - unframer: Filters/unframer.md
      - vcrop: Filters/vcrop.md
      - vflip: Filters/vflip.md
      - vobsubdmx: Filters/vobsubdmx.md
      - vorbisdec: Filters/vorbisdec.md
      - vout: Filters/vout.md
      - vtbdec: Filters/vtbdec.md
      - vtt2tx3g: Filters/vtt2tx3g.md
      - vttdec: Filters/vttdec.md
      - writegen: Filters/writegen.md
      - writeqcp: Filters/writeqcp.md
      - writeuf: Filters/writeuf.md
      - xviddec: Filters/xviddec.md
  - Build:
    - Overview: Build/Build-Introduction.md
    - Upgrading or Changing Branch: Build/Upgrading.md
    - build:
      - Windows: Build/build/GPAC-Build-Guide-for-Windows.md
      - Linux: Build/build/GPAC-Build-Guide-for-Linux.md
      - OSX: Build/build/GPAC-Build-Guide-for-OSX.md
      - iOS: Build/build/GPAC-Build-Guide-for-iOS.md
      - Android: Build/build/GPAC-Build-Guide-for-Android.md
      - MSYS2: Build/build/GPAC-Build-Guide-for-MSYS-MinGW.md
      - Docker: Build/build/GPAC-Build-with-Docker.md
      - WASM: Build/build/GPAC-Build-Guide-for-WASM.md
    - Old Build Docs:
      - Building MP4Box only: Build/GPAC-build-MP4Box-only-all-platforms.md
      - Windows: Build/old/Command-line-GPAC-compiling-on-Windows-x86-using-free-Microsoft-Visual-C++.md
      - Linux: Build/old/Compiling-GPAC-on-Debian-and-Ubuntu-and-other-Unix.md
      - OSX: Build/old/Compiling-GPAC-for-MacOS-X.md
    - Testing:
      - GPAC Tests: Build/tests/GPAC_tests.md
    - Archives:
      - Basic player application using GPAC: Build/Basic-Player-Application-using-GPAC.md
      - MP4 dmx examples: Build/MP4-dmx-examples.md
  - Developers:
    - Developers/index.md
    - API documentation: https://doxygen.gpac.io/modules.html
    - tutorials:
      - Intro to Filter Session: Developers/tutorials/filter-session-intro.md
      - Writing a custom Filter: Developers/tutorials/custom-filter.md
    - JavaScript: Developers/javascript.md
    - Python: Howtos/python.md
  - Playback:
    - Overview: Player/Player.md
    # - Introduction: Player/Playback.md
    - Playback features: Player/Player-Features.md
    - Simple Playback: Player/filters-playback.md
    - Overlay & Composition: Player/olay-composition.md
    - 2D Deferred rendering: Player/Deferred-rendering-in-GPAC.md
    - Multiview rendering: Player/Some-fun-with-multiview-rendering-on-3D-screens.md
    - GPAC 10bit support: Player/GPAC-10bit-support.md
    # - BIFS implementation status: Player/BIFS-Implementation-Status.md
    # - SVG implementation status: Player/SVG-Implementation-Status.md
    # - X3D implementation status: Player/X3D-Implementation-Status.md
  - XML formats:
    - Overview: xmlformats/xmlformats.md
    - Common encryption:
      - xmlformats/Common-Encryption.md
      - ISMACryp: xmlformats/ISMACryp.md
      - OMA DRM: xmlformats/OMA-DRM.md
    - XML Box Patch Format: xmlformats/BoxPatch.md
    - XML Binary Format: xmlformats/XML-Binary.md
    - TTXT Format: xmlformats/TTXT-Format-Documentation.md
    - NHML format: xmlformats/NHML-Format.md
    - NHNT format: xmlformats/NHNT-Format.md
     # TODO: implement  keyword pages
 # - Glossary:
 #   - glossary/encode.md
 #   - glossary/encrypt.md  