
<aside class="words-cloud-container">
    <div class="words-cloud">
        <div class="words-cloud__title">
            <i class="fa fa-book"></i>
            Glossary
        </div>
        <div class="words-container">
            <ul id="dynamic-words-cloud"></ul>
        </div>
       
      </div>
    </aside>
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <button id="close-modal" class="modal-close">
                <i class="fa-solid fa-square-xmark"></i>
            </button>
            <div class="modal-header">
                <i class="fa fa-book"></i>
                <h2 id="modal-title">ENCRYPT</h2>
            </div>
            <p id="modal-definition" class="modal-content__definition">
                Encryption refers to the process of converting media streams into a secure format using algorithms like AES 128-bit, ensuring only authorized parties can decrypt and access the content.
            </p>
            <a href="#" id="modal-link" class="modal-link hidden ">Read More</a>
        </div>
    </div>