.collapse-section {
    margin-bottom: 1.5em;
    
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.1s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.collapse-section:hover {

   
    border-color: transparent;
    
   
  }

.collapse-section h2 {
    margin: 0;
    padding: 1em;
    background-color: #ebe8e8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color: #333;
    transition: background-color 0.3s ease-in-out;
}
.collapse-section h2:hover{
    background-color:#dddcdc;
    
}

.collapse-section.active h2 {
    color : #d94412;
}

.collapse-icon {
    transition: transform 0.3s ease;
}
.collapse-section.active {
    max-height: none; 
}

.collapse-section.active .collapse-icon {
    transform: rotate(180deg);
}

.collapse-content {
    max-height: 0;.collapse-section {
        margin-bottom: 1.5em;
        /* border: 1px solid #e0e0e0; */
        border-radius: 8px;
       overflow: hidden;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    .collapse-section:hover {
    
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s ease-in-out;
       
       
      }
    
    .collapse-section h2 {
        margin: 0;
        padding: 1em;
        background-color: #f5f5f5;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2em;
        color: #333;
    }
    
    .collapse-icon {
        transition: transform 0.3s ease;
    }
    .collapse-section.active {
        max-height: none; 
    }
    
    .collapse-section.active .collapse-icon {
        transform: rotate(180deg);
    }
    
    .collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-in-out;
        padding: 0 1em;
    }
    
}

.collapse-section.active .collapse-content {
    max-height: 100%; 
    padding: 1em;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-y: auto; 
}

.article-content {
    flex-grow: 1;
}

.md-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;
}