#welcome {
   text-align: center;
   margin-bottom: 1em;
}

#home-logo {
    margin-bottom: 1em;
}

[data-md-color-scheme="slate"] {
    --md-hue: 217; 
    --md-typeset-a-color: #d94412 !important;
}

[data-md-color-scheme="gpac"] {
    /* header background */
    --md-primary-fg-color: #d7d7d7;               
    /* header text */
    --md-primary-bg-color: #141414;

    --md-primary-fg-color--light:        hsla(0, 0, 95%, 1);
    --md-primary-fg-color--dark:         hsla(0, 0, 25%, 1);
    
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  
    --md-accent-fg-color:                #d94412;
    --md-accent-fg-color--transparent:   #d944121f;
    --md-accent-bg-color:                #d94412;
    --md-accent-bg-color--light:         #d94412e0;

    --md-typeset-a-color: #d94412;
    
    /* default is too bright on pourly calibrated screens */
    --md-code-bg-color:  #e0e0e0;

    /* 
    force tabs to match gpac.io styles 
    */
    .md-tabs__item .md-tabs__link {
        transition: unset !important;
        background: none !important;
        color: inherit!important;
        opacity: 1 !important;
    }
    .md-tabs__item:focus,
    .md-tabs__item:hover {
        background-color: #151515 !important;
        color: #fff !important;
    }

    .md-tabs__item--active {
        color: var(--md-typeset-a-color);
        font-style: italic;
    }

}
