#welcome {
  text-align: center;
  margin-bottom: 1em;
}

#home-logo {
  margin-bottom: 1em;
}
:root {
  --word-cloud-bg-light: linear-gradient(to right, #faf7f7, #d7d6d6);
  --word-cloud-border-light: #e0e0e0;
  --word-cloud-shadow-light: rgba(0, 0, 0, 0.05);

  --word-cloud-bg-dark: linear-gradient(to right, #2a2a2a, #333333);
  --word-cloud-border-dark: #444444;
  --word-cloud-shadow-dark: rgba(0, 0, 0, 0.2);

  --collapse-bg-light: linear-gradient(to right, #d7d6d6, #faf7f7);
  --collapse-hover-bg-light: linear-gradient(to right, #cdcccc, #dddcdc);

  /* Mode sombre */
  --collapse-bg-dark: linear-gradient(to right, #333333, #2a2a2a);
  --collapse-hover-bg-dark: linear-gradient(to right, #3a3a3a, #313131);
}
[data-md-color-scheme="slate"] {
  --md-hue: 217;
  --md-typeset-a-color: #d94412 !important;
  --md-accent-keywords-color: hsla(0, 0%, 75%, 1) !important;
  --md-icon-color: #a7a7a7;

  --md-glossary-bg-color: #2e2e2e;
  --md-glossary-text-color: #e0e0e0;
  --md-keyword-cloud-bg-color: #3a3a3a;
  --md-keyword-cloud-text-color: #f0f0f0;
}

[data-md-color-scheme="gpac"] {
  /* header background */
  --md-primary-fg-color: #e0e0e0;
  /* header text */
  --md-primary-bg-color: #141414;

  --md-primary-fg-color--light: hsla(0, 0%, 95%, 1);
  --md-primary-fg-color--dark: hsla(0, 0%, 25%, 1);

  --md-primary-bg-color--light: #f0f0f0;

  --md-accent-fg-color: #d94412;
  --md-accent-fg-color--transparent: #d944121f;
  --md-accent-keywords-color: hsla(0, 0%, 25%, 1) !important;
  --md-accent-bg-color: #d94412;
  --md-accent-bg-color--light: #d94412e0;

  --md-typeset-a-color: #d94412;
  --md-icon-color: #8e8686;

  /* default is too bright on poorly calibrated screens */
  --md-code-bg-color: #e0e0e0;

  --md-glossary-bg-color: #f5f5f5;
  --md-glossary-text-color: #333333;
  --md-keyword-cloud-bg-color: #ffffff;
  --md-keyword-cloud-text-color: #000000;

  /* force tabs to match gpac.io styles */
  .md-tabs__item .md-tabs__link {
    transition: unset !important;
    background: none !important;
    color: inherit !important;
    opacity: 1 !important;
  }
  .tabs__item:focus,
  .md-tabs__item:hover {
    background-color: #151515 !important;
    color: #fff !important;
  }

  .md-tabs__item--active {
    color: var(--md-typeset-a-color);
    font-style: italic;
  }

  .md-header__option {
    background-color: var(--md-primary-fg-color) !important;
  }
}

.md-typeset .highlight button {
  display: block !important;
}

.md-footer {
  flex-shrink: 0;
}

.glossary-container,
.words-cloud {
  background-color: var(--md-glossary-bg-color);
  color: var(--md-glossary-text-color);
}

.words-cloud-container {
  background-color: var(--md-keyword-cloud-bg-color);
  color: var(--md-keyword-cloud-text-color);
}

.words-cloud a {
  color: var(--md-typeset-a-color);
}

.md-sidebar--secondary .md-sidebar__inner {
  display: flex;
  flex-direction: column;
}

.md-nav--secondary {
  flex: 1;
  margin-bottom: 5.5rem;
}

.keywords-cloud-container {
  max-height: 40vh;
  overflow-y: auto;
}

.md-header__topic {
  position: absolute;
  width: 100%;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.md-header__topic--site-name {
  opacity: 1;
  transform: translateX(0);
}

.md-header__topic--page-title {
  opacity: 0;
  transform: translateX(20px);
}

.md-header.show-page-title .md-header__topic--site-name {
  opacity: 0;
  transform: translateX(-20px);
}

.md-header.show-page-title .md-header__topic--page-title {
  opacity: 1;
  transform: translateX(0);
}

.highlight {
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  position: relative;
}

.highlight pre {
  margin: 0;
  padding: 0;
}

.highlight code {
  font-family: "Fira Code", monospace;
  font-size: 0.6rem;
  line-height: 1.5;
}

.highlight::before {
  content: attr(data-language);
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  font-size: 0.7rem;
  color: #abb2bf;
  text-transform: uppercase;
}

@media screen and (max-width: 76.1875em) {
  .md-sidebar--secondary {
    display: none;
  }
}

@media screen and (max-width: 59.9844em) {
  .md-nav__source {
    background-color: #ffffff;
  }
}


.md-typeset__scrollwrap table {
  width: 100%;
  table-layout: fixed;          
}

/* Force wrapping in long text */
.md-typeset__scrollwrap td,
.md-typeset__scrollwrap th {
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}

