.md-header__settings {
  position: relative;
  margin-left: 1rem;
  
}

.md-header__settings-button {
  background: none;
  border: none;
  color: var(--md-primary-bg-color);
  cursor: pointer;
  font-size: 1.2rem;
}

.md-header__settings-dropdown {
  position: absolute;
  top: 120%;
  left: -276%;
  font-weight: 600;
  background-color: var(--md-primary-fg-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  padding: 0rem 1.5rem;
  z-index: 1000;
}

.md-header__settings-title{
  text-align: center;

}
.md-header__settings-separator {
  height: 1px;
  background: linear-gradient(to right, transparent, var(--md-primary-bg-color, #ffffff) 50%, transparent);
  margin: 0.5rem 0 1rem;
  opacity: 0.2;
  position: relative;
}

.md-header__settings-separator::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--md-primary-bg-color, #ffffff);
  border-radius: 50%;
  opacity: 0.6;
}
.md-header__settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}


.md-header__settings-item:hover {
  opacity: 0.7;
  border-radius: 4px;
  cursor: pointer;
}
[data-md-color-scheme="slate"] .md-header__settings-item {
  transition: background-color 0.3s ease;
}


[data-md-color-scheme="slate"] .md-header__settings-item:hover {
  background-color: #3A3A3A;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--md-accent-fg-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .md-header__settings-dropdown {
  
    padding: 0rem 0.5rem;
    width: 211%;
    left: -120%;
    top:110%;
    font-size: 0.7rem;
    
  }
  .md-header__settings-button {

  margin-right: 2rem;
  }
  .md-header__settings-item {
    margin:0rem;
 
  }
  .md-header__settings-item {
    margin-bottom: 1.5rem;
}
}
